@import "tailwindcss";

@theme {
  --color-primary-50: #fbf7eb;
  --color-primary-100: #f6ebcb;
  --color-primary-200: #eed69a;
  --color-primary-300: #e4b95e;
  --color-primary-400: #db9e34;
  --color-primary-500: #cb8927;
  --color-primary-600: #af691f;
  --color-primary-700: #8c4c1c;
  --color-primary-800: #753e1e;
  --color-primary-900: #64351f;
  --color-primary-950: #3a1a0e;
}